/* Orange Light scheme (Default) */
/* Can be forced with data-theme="light" */
[data-theme="light"],
:root:not([data-theme="dark"]) {
  --primary: #fb8c00;
  --primary-hover: #fadcaf;
  --primary-focus: rgba(251, 140, 0, 0.125);
  --primary-inverse: #fff;
}

/* Orange Dark scheme (Auto) */
/* Automatically enabled if user has Dark mode enabled */
@media only screen and (prefers-color-scheme: dark) {
  :root:not([data-theme]) {
    --primary: #fb8c00;
    --primary-hover: #fadcaf;
    --primary-focus: rgba(251, 140, 0, 0.25);
    --primary-inverse: #fff;
  }
}

/* Orange Dark scheme (Forced) */
/* Enabled if forced with data-theme="dark" */
[data-theme="dark"] {
  --primary: #fb8c00;
  --primary-hover: #fadcaf;
  --primary-focus: rgba(251, 140, 0, 0.25);
  --primary-inverse: #fff;
}

/* Orange (Common styles) */
:root {
  --form-element-active-border-color: var(--primary);
  --form-element-focus-color: var(--primary-focus);
  --switch-color: var(--primary-inverse);
  --switch-checked-background-color: var(--primary);
}

:root {
  --skiWhite: #d5dfe5;
  --skiPurple: #c9b1bd;
  --skiLightGreen: #7f9172;
  --skiDarkGreen: #567568;
}

#navCover {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
li {
  transition: font-style 0s 0.1s;
}
li:hover {
  font-style: italic;
}
